* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
height: 100vh;
background-color:cornflowerblue;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
}
main  {
    background-color: #fff;
    margin:5px;
    width: 360px;
    height:600px;
    border: 5px solid blue;
    border-radius: 40px;
    box-shadow: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
   
}
.minha-foto {
    margin-top:20px;
    display: flex;
    justify-content: center;
}
.minha-foto img {
    border-radius:60px;
    border: 2px solid blue;
}
h1 {
    text-align: center;
    margin:10px;
    color: blue;
    font-size: 20px;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
}
.navbar a {
    text-decoration: none;
    color: blue;
    margin:4px;

}
.navbar a:hover{
    border-radius: 5px;
    padding:2px;
    background-color:cornflowerblue;
    color:white
    
}
.apresentacao {
    text-align: justify;
    color:blue;
    margin: 10px;
    padding: 2px;
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.redes-sociais a {
    margin: 10px;
}




@media screen and (max-width:600px) {
        .navbar  {
            flex-direction: column;
        }
    }

@media screen and (max-width:400px) {
    .rodape {
        flex-direction: column;
    }
}
@media screen and (max-width:244px) {
    .apresentacao {
        display: none;
    }
}






